@charset "UTF-8";


header{
	width: 620px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	background: #fff;
	margin: 62px auto;
}

header h1{
	color: #444;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	padding: 14px 0;
	margin-bottom: 36px;
	margin-left: 42px;
}




img{ max-width:100%;}

.inbox_people {
  overflow: hidden;
  width: 620px;
  margin: 62px auto;
  background: #dbf3ff;
  border: 1px solid #c9c9c9;
  
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  /* width: 60%; */
  overflow: hidden;
  width: 620px;
  margin: 62px auto;
  
}

.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.roomList{
	width:100%;
	height: 50px;
}

tr{
	width: 100%;
}

th, td{
	color: #444;
	border: none;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	padding: 8px 24px;
	
}

.headind_srch{ padding:20px 29px 12px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #029ceb;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}

.chat_ib h5 span{ font-size:13px; float:right;}

.chat_ib p{ font-size:14px; color:#989898; margin:auto}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat { height: 550px; overflow-y: hidden;
	padding: 34px;
}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.outgoing_msg{ 
	overflow:hidden; margin:26px 0 26px;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 
 .chating .others {
  background: #dbf3ff none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 5px 0;
  padding: 5px 10px 5px 12px;
  text-align: left;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg { width: 57%;}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
  background: #e6f6ff;
}

 .chating .me{
  background: #029ceb none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 5px 0;
  color:#fff;
  padding: 5px 10px 5px 12px;
  text-align: right;
  width:100%;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
	/* display: none; */
	border-top: 1px solid #c4c4c4;position: relative;
	}
	
.msg_send_btn {
  background: #029ceb none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging { 
	padding: 0 0 50px 0;
    left: 50%;
    top: 50%;
    width: 620px;
    margin: 62px auto;
}

.chating {
  height: 516px;
/*   width: 514px; */
  overflow: auto;
}

.sent_msg .me{
	color: #F6F6F6;
	text-align: right;
}

.received_withd_msg .others{
	color: #F6F6F6;
	text-align: left;
}

@media (max-width: 747px) {
	
	header h1{
		text-align: center;
		margin-left: 0;
	}
	
	.inbox_people {
	  width: 90%;
	}
	
	.messaging {
	  width: 90%;
	}
	
	
}



