<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

<title>Chating</title>
</head>

<script type="text/javascript" th:inline="javascript">

	var ws;
	
	$(window).ready(function(){
		wsOpen();

	});
	
	
	function wsOpen(){	//웹소켓 전송시 현재 방의 번호를 넘겨서 보냄
		console.log(location.host);
		ws = new WebSocket("ws://" + location.host + "/chatting/" + $("#roomNumber").val());
		console.log("소켓 연결");
		wsEvt();
	}
		
	function wsEvt() {
		ws.onopen = function(data){
			
		}
		
		ws.onmessage = function(data) {
			//메시지를 받으면 동작
			
			var msg = data.data;
			var top = $("#chating").prop("scrollHeight");
			if(msg != null && msg.trim() != ''){
				var d = JSON.parse(msg);
				if(d.type == "getId"){
					var si = d.sessionId != null ? d.sessionId : "";
					if(si != ''){
						$("#sessionId").val(si); 
					}
				}else if(d.type == "message"){
					if(d.sessionId == $("#sessionId").val()){
						$("#chating").append("<p class='me'> 나:" + d.msg + "</p>");
					}else{
						$("#chating").append("<p class='others'> 상대방:" + d.msg + "</p>");
					}
					$("#chating").scrollTop(top);
				}else{
					console.warn("unknown type!")
				}
			}
		}

		document.addEventListener("keypress", function(e){
			if(e.keyCode == 13){ //enter press
				send();
			}
		});
	}

	function send() {
		console.log("전송 버튼");
		var option ={
			type: "message",
			roomNumber: $("#roomNumber").val(),
			sessionId : $("#sessionId").val(),
			msg : $(".write_msg").val()
		}
		if(!($(".write_msg").val() == null || $(".write_msg").val() == (""))){			
			ws.send(JSON.stringify(option))
			$('.write_msg').val("");
			$('.write_msg').focus();

		}else{
			$('.write_msg').focus();
			return;
		}
	}

</script>
 
 
<body>
<div class="container">
<!-- ======= Header ======= -->
<header>
    <h1 class=" text-center" th:text="${roomName+' 채팅'}">
	</h1>
  </header>
<!-- End Header -->
	<!-- <h3 class=" text-center" th:text="${roomName+' 채팅'}"></h3> -->
	
	<input type="hidden" id="sessionId" value="${list.userid}">
	<input type="hidden" id="roomNumber" th:value="${roomNumber}">
	  <div class="inbox_msg">
	    
	    <div class="mesgs">
	      <div class="chating" id="chating" style="overflow:auto">
	
	      </div>
	      <div class="type_msg">
	        <div class="input_msg_write">
	          <input type="text" class="write_msg" placeholder="Type a message" />
	          <button class="msg_send_btn" type="button" onclick="send()">
	          	<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
	          </button>
	        </div>
	      </div>
	    </div>
	  </div>
	
<!-- 	  <p class="text-center top_spac"> Design by <a target="_blank" href="https://www.linkedin.com/in/sunil-rajput-nattho-singh/">Sunil Rajput</a></p> -->
	  
</div>
</body>
 
 

</html>